html, body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #676858;
	width: 100%;
	height: 100%;
	font-size: 16px;
	line-height: 1.2em;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-pic {
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.title-name {
	font-size: 50px;
}

.title-menu {
	list-style: none;
	font-size: 30px;
}

.title-menu li{
	display: inline-block;
}

.fa {
	font-size: 30px;
	margin: 2px;
	color: #747704;
}

.tab-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

#about-me article {
	padding: 0 10px;
}

iframe {
	display: block;
	margin: 0 auto;
}

.proj-img {
	cursor: pointer;
	margin: 0 auto;
	width: 400px;
	/*height: 600px;*/
}

footer {
	border-top: 1px solid #ddd;
}

.footer-contact {
	padding: 10px;
	text-align: center;
}

.footer-contact span {
	padding: 0 10px;
}

.resume-img {
	width: 800px;
	margin: 0 auto;
}

/*responsive*/
@media only screen and (max-width: 681px) {
	.title-name {
		font-size: 40px;
	}
}

@media only screen and (max-width: 553px) {
	.title div {
		width: 100%;
	}

	.title-pic {
		margin-left: auto;
		margin-right: auto;
	}

	.title-name, .title-description {
		text-align: center;
	}

	.proj-functionality li{
		width: 50%;
	}

	.footer-contact span {
		display: block;
	}
}